<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Etsy Horseplay</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <!--[endif]-->


        <div class="container">

            <div class="header">
                <h3 class=> etsworth.com </h3>
            </div>

            <!-- Button trigger modal -->
            <button id="launch-modal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Welcome to Etsworth!</h4>
                  </div>
                  <div class="modal-body">
                    In a few moments, you'll take a quiz that shows you two paintings that are currently for sale on etsy.com. One of these items will be very cheap, one of them will be quite expensive. Your job is to determine which is which!
                    <br>
                    <br>
                    Click the item that you think is cheapest.
                    <br>
                    <br>
                    You'll get an overall score at the end. Share the quiz and see how your friends do!
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="start-quiz"class="btn btn-primary" data-dismiss="modal" data-loading-text="Loading quiz...">Take the quiz!</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal -->

            <div id="quiz-wrapper"></div>

            <div class="footer">
                Constructed with love, for you, solely for $$$.
            </div>

        </div>

        <script type="text/template" id="item-template">

            <div class="item-container">
                <img class="item-image" src= <%= image %> >
                <p> <%= price %> </p>
            </div>

        </script>


        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/main.js -->
        <script src="scripts/router.js"></script>
        <script src="scripts/views/item-view.js"></script>
        <script src="scripts/models/expensive-item-model.js"></script>
        <script src="scripts/models/cheap-item-model.js"></script>
        <script src="scripts/models/expensive-items-collection.js"></script>
        <script src="scripts/models/cheap-items-collection.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
